.filters
{
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px #DDDDDD;
	border-radius: 4px;
	border-style: solid;
	position: relative;
}
.filters > button
{
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);


}
.filters > button:hover
{
	opacity: 0.9;
}
.filters > div
{
	height: 100%;
	width: 25%;
	padding-left: 50px;
	position: relative;
	float: left;
}
.locations
{
	border-right-color: #DDDDDD;
	border-right-style: solid;
	border-right-width: 1px;
}
.filters > div:hover .popover
{
	display: block;
}
.filters h3
{
	font-weight: 600;
	margin-bottom: 0px;
}
.filters h4
{
	font-weight: 400;
	font-size: 14px;
	margin-top: 0px;
}
.popover
{
	/*Join both ul elements without spaces in between*/
	width: calc(100% + 3px);
	left: -1px;
	background-color: #FAFAFA;
	border-width: 1px;
	border-radius: 4px;
	border-color: #DDDDDD;
	border-style: solid;
	list-style: none;
	position: absolute;
	margin-top: 0px;
	margin-bottom: 0px;
	box-sizing: border-box;
	display: none;
	padding-top: 40px;
	padding-bottom: 40px;
}
.popover li
{
	list-style: none;
	margin-top: 0px;
}
.locations .popover > li
{
	margin-bottom: 25px;
}
.locations .popover > li > ul
{
	padding-left: 10px;
}
.amenities .popover > li
{
	line-height: 20px;

}
.amenities .popover
{
	padding-left: 50px;
}
.popover > li > h2
{
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.popover > li > ul
{
	padding-left: 20px;
}
.popover > li > ul > li
{
	margin-top: 5px;
}
.amenities .popover > li > p
{
	margin-top: 0px;
	margin-bottom: 0px;
}
