<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/styles/4-common.css" />
    <link rel="stylesheet" href="../static/styles/3-header.css" />
    <link rel="stylesheet" href="../static/styles/3-footer.css" />
    <link rel="shortcut icon" href="../static/images/icon.png" />
    <link rel="stylesheet" href="../static/styles/6-filters.css" />
    <title>Airbnb clone</title>
  </head>
  <body>
    <header></header>
    <div class="container">
      <section class="filters">
        <div class="locations">
          <h3>States</h3>
          <h4>&nbsp;</h4>
          <ul class="popover">
              {% for key, state in all_states.items() %}
              <li><h2>{{ state.name }}:</h2>
                <ul>
                    {% for city in state.cities %}
                    <li>{{ city.name }}</li>
                    {% endfor %}
                </ul>
              </li>
              {% endfor %}
          </ul>
        </div>
        <div class="amenities">
          <h3>Amenities</h3>
          <h4>&nbsp;</h4>
          <ul class="popover">
            {% for key, amenity in all_amenities.items() %}
            <li>{{ amenity.name }}</li>
            {% endfor %}
          </ul>
        </div>
        <button>Search</button>
      </section>
    </div>
    <footer>
      <p>Holberton School</p>
    </footer>
  </body>
</html>
